.CustomerEntry
    h1 Customer Coupon Entry 
    .left
      form.leftEntry
        p Name
        input(type='text' name='Fname' placeholder='')
        p Mobile Number
        input#num(type='text' name='Mnumber' placeholder='')
        input(type='submit' name='' value='Submit')
    .right
      form.rightEntry
        p Email Id
        input#name(type='text' name='EmailId' placeholder='')
        p Coupon Code
        input(type='text' name='Couponcode' placeholder='')
        input(type='submit' name='' value='Cancel')