doctype html
html
  head
    link(rel='stylesheet', type='text/css', href='./css/header.css')
    title Coupons around you
  body
    .header
      .logo
        img(src='./images/logo.jpg', alt='coupons around you')
      .logo_container
        h1
          i Coupons Around You
