include header
        h1
          i Coupons Around You
        if page==='Login'
          include include/login
        else if page=='Register'
          include include/register
        else if page=='Merchant'
          include include/merchant
        footer
           h1 For any issues,please contact akhila.uppari@csu.fullerton.edu
