.container
        .title
          h1 Sign In Form
        .left
        .right
          .formBox
            form
              p Username
              input(type='text', name='', placeholder='Enter email id')
              p Password
              input(type='password', name='', placeholder='********')
              input(type='submit', name='', value='Login')
              input(type='submit', name='', value='Sign Up')